@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;}

body{background-color: rgb(0, 0, 0);
min-height: 100vh;}
.container{max-width: 1300px;
margin: 0 auto;
padding: 0 4%;}
nav{display:flex;
justify-content: space-between;
align-items: center;
height: 100px;}
nav .menu-icon{ position: absolute;
    width: 2px;
    height: 2;
    position: fixed;
    cursor: pointer;
display: none;
cursor: pointer;

}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
color: blanchedalmond;
text-decoration: none;}
nav ul{display: flex;
list-style: none;
align-items: center;
}
nav ul li{ padding:10px;}
nav ul li a {text-decoration: none;
font-size: 17px;
text-transform: uppercase;
color: beige;}
nav ul button{border: none;
background: -webkit-linear-gradient(#F59E0B, #EF4444);
color: aliceblue;
padding: 10px 20px;
border-radius: 10px;
font-size: 16px;
width: 150px;
letter-spacing: 1px; 
cursor: pointer;}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: ;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: -webkit-linear-gradient(#F59E0B, #EF4444);
  background: linear-gradient(90deg, rgba(#F59E0B) 0%, rgba(#EF4444) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(#ffffff);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(#F59E0B);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #F59E0B;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite
  }
  
  .button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
main{
    margin-top :20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.script{color: wheat;}

.text-bx {width: 40%;}
.text-bx h1 {font-size: 2.5rem;
    color: aliceblue;
text-transform: ;}
.text-bx h1 b{ background: -webkit-linear-gradient(#F59E0B, #EF4444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
h1 {color: aliceblue;}

.text-bx p {color: aliceblue;
font-weight: 400;
font-size: 32px;
margin-top: 20px;
margin-bottom: 20px;}
.text-bx .input-bx{margin: 0 auto;
    border-radius: 20px;
display: flex;}
.text-bx .input-bx input{width: 100%;
    
display:flex;
height: auto;
border-radius: 20px;
padding: 7px;
border: none;
outline: none;
margin: auto;
color: rgb(3, 3, 3);
font-size: 1em;}
.text-bx .input-bx input::placeholder{color: rgb(5, 5, 5);
margin: auto;}
.text-bx .input-bx button{outline: none;
    border-radius: 40px; 
    margin-top: 40px;
    height: auto;
    width: 00%;
    justify-content: center;
    align-items: center;
    margin: auto;
border: none;
padding: 10px 0px;
background: -webkit-linear-gradient(#F59E0B, #EF4444);
color: rgb(255, 255, 255);
cursor: pointer;
font-size:  25px; ;}
.medias-sociais{margin-top: 30px;
}
.medias-sociais i{
    font-size: 23px;
    margin:  0 3px;
    color: aliceblue;
    padding: 7px;
    border-radius: 5px;
}
.img-bx{width: 60%;}
.img-bx img{width: 100%;}

@media (max-width:800px) {nav .menu-icon{display:block;
}
nav ul{position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
transform: translateX(-100%);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
transition: 0.3s ease-in;
background: -webkit-linear-gradient(#F59E0B, #EF4444);
}
nav ul.active{transform: translateX(0);
}
nav ul li{padding: 10px;}
nav ul li a{font-size: 18px;
color: aliceblue;}
nav ul button{background: -webkit-linear-gradient(#8B5CF6, #EC4899);
font-size: 18px;
margin: 0;
}
.text-bx{width:100vh;
} 
.img-bx{
  top: 40px;
}
.img-bx {width: 500%;
}

.text-bx{margin-bottom: 70px;}
.text-bx.input-bx{justify-content: center;
  

}


}
.roxo {
    background: -webkit-linear-gradient(#8B5CF6, #EC4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.laranja {background: -webkit-linear-gradient(#F59E0B, #EF4444); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    /* Eclipse */

.eclipse {
    position: absolute;
    width: 500px;
    height: 723.06px;
    left: -365px;
    top: -200px;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(-17.38deg);
}

